# Répertoires à comparer les bulletins
# dir1 sera celui à "gauche" dans les comparaisons
dir1	=	"/tmp/data_wmo"
dir2	=	"/tmp/data_tandem"

# Nombre de tokens préfixes qui doivent etres identiques aux fichiers a comparer
nbPrefixesIdentiques	=	3

# Separateur des prefixes précédents
separateur		=	'_'

# Fonction pour comparer le fichier
import commands
import os
def compareFics(pathFic1,pathFic2):
	"""Comparaison entre les 2 fichiers et retourne une chaine vide s'ils sont pareils, la difference de make_time entre dir1-dir2"""
	return commands.getoutput("diff -a -b -B " + pathFic1 + " " + pathFic2)

# Fonction pour trier si une difference
# Doit retourner ( bool:effacer_fichier? , string:message_log )
# Passe en parametre les liste path vers les fichiers concernes
import os
def analyseSiDiff(listePathFicDir1,listePathFicDir2):
	estVraimentDifferent = True
	message_log = ''

	for f in listePathFicDir1:
		if os.stat(dir1 + '/' + f).st_size >= 15000:
			estVraimentDifferent = False
			message_log = "La taille du fichier " + f + "excède 15000 octets"
			break

		if f.split('/')[-1].split('_')[3][:1] in ['A','C','R','P'] or listePathFicDir2[listePathFicDir1.index(f)].split('/')[-1].split('_')[3][:1] in ['A','C','R','P']:
		# Si les 2 premieres lettres du 4e champ du nom du fichier sont CC ou RR
			estVraimentDifferent = False
			message_log = "Les bulletins " + f + " et " + listePathFicDir2[listePathFicDir1.index(f)]  + " ne sont pas les memes"
			break

	return (not estVraimentDifferent,message_log)



# Repertoire ou les bulletins incorrects sont envoyes
# (Les bulletins sont concaténés avec une liste de 20 * '*')
incorrectDir	=	"/tmp/data_incorrect"

# Repertoire ou les bulletins "incertains" (bulletins reçus 
# de plus d'un côté ou ceux que analyseSiDiff() considere
# pareils)
incertainDir	=	"/tmp/data_incertain"

# Delai si aucun nouveau fichier
delai		=	10

# Log
primaryLog              = "/home/theriaultlp/archive/pds-nccs/log/bulletinDiff.primary_log"
backupLog               = "/home/theriaultlp/archive/pds-nccs/log/bulletinDiff.backup_log"

# Resultat des diffs
diffResultFile		= "/home/theriaultlp/archive/pds-nccs/log/bulletinDiff.output"

# Répertoire temporaire
tempDir			= "/home/theriaultlp/archive/pds-nccs/log"

# Path vers un fichier qui contient qu'un retour de ligne
# (utilise par le cat pour une separation entre les bulletins)
fichierRet		= "/tmp/ret.txt"
