# Repertoire d'entree ou sont les fichiers de circuits
inputDir	=	'/home/theriaultlp/circuits/circuits20041221/'

# Chemin vers le fichier d'entêtes à priorités
pathPriorites	=	'/home/theriaultlp/circuits/entete2priorites/header2priority.simple'

# Fichier unique de sortie ou toutes les entrees seront fusionnes
destFile	=	'/home/theriaultlp/header2circuit.db'

# Cree un fichier du nom du fichier de sortie avec '.ignoredLines' qui ecrit les lignes ignorees dans les
# fichiers de circuits
showIgnoredLines	=	True

# Affiche les erreurs a l'ecran
outputErrs		= 	False
